<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Orders to Contract</h4>
      </div>
      <%= form_tag add_contracts_path, :method => :put  do %>
      <div class="modal-body text-center">
        <ul class='list list-unstyled'>
          <% for order in @orders %>
            <li>
            <%= check_box_tag "orders_id[]", order.id%>
            <%= order.id %>
            </li>
            <% end %>
            <input type='hidden' name='con_pk' id='con_pk' />    
        </ul>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Pievienot", :class=>"btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->