<% @page_title = "Admin CP" %>
<h1></h1>

<div class="page-header">
  <h1>Admin CP</h1>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="magazines" class="thumbnail" size= '20x40'>
      <h2 class="text-center">Magazines</h2>
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="clients" class="thumbnail" size= '20x40'>
      <h2 class="text-center">Clients</h2>
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="users" class="thumbnail" size= '20x40'>
      <h2 class="text-center">Users</h2>
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="agencies" class="thumbnail" size= '20x40'>
      <h2 class="text-center">Agencies</h2>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="contracts" class="thumbnail" size= '20x40'>
      <h2 class="text-center">Contracts</h2>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="invoices" class="thumbnail" size= '20x40'>
      <h2 class="text-center">Invoices</h2>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="orders" class="thumbnail" size= '20x40'>
      <h2 class="text-center">Orders</h2>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="payments" class="thumbnail" size= '20x40'>
      <h2 class="text-center">Payments</h2>
    </a>
  </div>
</div>