<div class="page-header">
  <%= link_to magazine_fields_path(@magazine), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to magazine_field_path(@magazine, @field), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing field</h1>
</div>

<%= render 'form' %>
