<div class="page-header">
  <%= link_to magazine_issue_fields_path(@magazine, @issue), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New field</h1>
</div>

<%= render 'form' %>
